/* En tu archivo InitialPage.module.css */
@font-face {
  font-family: 'arcadeClassic';
  src: url("../../fonts/ARCADECLASSIC.TTF");
  font-weight: 400;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Asegura que el contenido difuminado no sobresalga */
  background-image: url('./pepe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-inner {
  position: relative;
  z-index: 1;
  /* Asegura que el título esté sobre el fondo difuminado */
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  /* Color de fondo con opacidad para el difuminado */
  padding: 20px;
  /* Ajusta según sea necesario */
}

.button {
  text-align: center;
  margin: 15px;
  font-size: 60px;
  width: 150px;
  height: 150px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: scale(1.05);
}

.buttonText {
  font-family: arcadeClassic, serif;
  font-size: 50px;
  color: white;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
}